header
	h1
		a(href="/")= title


p
	label País: 
	select(id="filtro_regiones")
		option(value="/") Todos
		each region in regiones
			if region
				option(value="/?r=#{region}")= region

ul
	each empleo in empleos
		li
			h2= empleo.puesto
			if empleo.pago
				em Sueldo: #{empleo.pago}
			if empleo.region
				em Región: #{empleo.region}
